###> generic ###
/vendor/
/.idea/
/auth.json
/.php-cs-fixer.cache
###> generic ###

###> squizlabs php codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs php codesniffer ###

###> symfony phpunit bridge ###
/.phpunit
/.phpunit.result.cache
/phpunit.xml
###< symfony phpunit bridge ###
